<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.xm.exam.mapper.safehat.custom.SafehatInCustomMapper">
	<select id="getSafehatTaizhang" resultType="map">
		SELECT
		safehat_in.*,employee_in.*,department.departmentName
		FROM safehat_in
		LEFT JOIN employee_in
		ON safehat_in.userIdCard =
		employee_in.idCode
		LEFT
		JOIN department
		ON employee_in.departmentId =
		department.departmentId
		<where>
			<if test="userName != null">
				and NAME like '%${userName}%'
			</if>
			<if test="safeHatNum != null">
				and safehat_in.safeHatNum like '%${safeHatNum}%'
			</if>
			<if test="idCard != null">
				and idCode like '%${idCard}%'
			</if>
			<if test="departName != null">
				and departmentName like '%${departName}%'
			</if>
		</where>
		<if test="orderColumn != null">
			order by ${orderColumn}
		</if>
	</select>
</mapper>