<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.xm.exam.mapper.safehat.custom.SafehatCustomMapper">
	<select id="getSafehatTaizhang" resultType="map">
		SELECT
		safehat.*,employee_out.*,haulemployeeout.thirdScore,haulemployeeout.empType,unit.name
		as unitName
		FROM safehat
		LEFT JOIN employee_out
		ON safehat.userIdCard =
		employee_out.idCode
		LEFT
		JOIN haulemployeeout
		ON safehat.safeHatNum =
		haulemployeeout.safeHatNum
		LEFT JOIN unit
		ON haulemployeeout.unitid =
		unit.unitid
		<where>
			<if test="userName != null">
				and employee_out.NAME like '%${userName}%'
			</if>
			<if test="safeHatNum != null">
				and safehat.safeHatNum like '%${safeHatNum}%'
			</if>
			<if test="idCard != null">
				and idCode like '%${idCard}%'
			</if>
			<if test="unitName != null">
				and unit.name like '%${unitName}%'
			</if>
		</where>
		<if test="orderColumn != null">
			order by ${orderColumn}
		</if>
	</select>
</mapper>